/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/uploads
/.vagrant
/web/css
/web/js

.buildpath
.settings
.project
.idea

